.content{
  background: url(../assets/icones/home-background.svg) no-repeat;
  background-size: 50vmax;
  background-position: bottom;
  background-position-x: -15px;
}

header span{
  background-image: url(../assets/icones/log-in.svg);
}

@media screen and (min-width:600px){

  .content header a{
    font-size: 1em;
  }

  .content{
    background-position: right;
    background-size: 50vmax;
    width: 80%;
  }

}